parameters:
    level: 5
    paths:
        - src
        - config
        - tests/Fixtures
    checkOctaneCompatibility: true
    checkModelProperties: true
    configDirectories:
        - config
    tmpDir: build/phpstan
